/** General **/
.container{
    width:100%;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.red-heading{
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: space-between;
}

.red-icon{
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color:#DB4444 ;
}

.sections-header-first{
    width: 164px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
    margin-top:10px ;
}

.section-centr{
    width: 1170px;
    margin: 100px auto;
}

.section-center{
    width: 1308px;
    margin: 100px auto;
}

.line{
    width: 1170px;
    background-color: #a5a3a3;
    height:0.5px;
    margin: 50px  160px;
}

.arrow-r-l{
    width: 100px;
    height: 46px;
    gap: 8px;
}

.arrow-r-l i{
    width: 46px;
    height: 46px;
    padding: 11px;
    border-radius: 50%;
    background-color:#F5F5F5 ;
}

#to-up{
    display: flex;
    width: 100%;
    justify-content: end;
}

.red-button{
    width: 234px;
    height: 56px;
    border-radius: 4px;
    background-color: #DB4444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-button-h1{
    width: 134px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}

.red-button-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/** General **/
 

/** Header Top **/
.header-top-line{
    display: flex;
    justify-content: space-evenly;  
    height: 48px;
    align-items: center;
    color: #FAFAFA;
    background-color: #000000;
    padding-left: 250px;
}

.select-lang{
    border: none;
    background-color: #000000;
    font-size: 14px;
    cursor: pointer;
    color: #FAFAFA;
}

.shopnow{
    font-weight: 600;
    color: #FAFAFA;
}
/** /Header Top **/


/* Navigation **/
.heading-navbar{
    display: flex;
    justify-content:space-evenly; 
    height:96px;
    border-bottom: 0.5px solid gray;
    align-items: center;
     
}

.heading-navbar h1{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3%;
}

.navigation-menu{
    width: 367px;
    height: 24px;
    display: flex;
    gap: 48px;
}

.navigation-menu a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.navigation-menu a:hover{
    text-decoration: underline;
}

.search{
    width: 367px;
    height: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.input-container{
    background-color:#F5F5F5 ;
    display: flex;
    width: 210px;
    height: 38px;
    justify-content: space-evenly; 
    align-items: center;  
    border-radius: 5px;
    margin-right: 50px;
}

input{
    border: 0;
    background-color:#F5F5F5;
}

.input-container i{
    width: 24px;
    height: 24px;
}

.navbar-icons{
    width: 80px;
    display: flex;
    gap: 16px;
    height: 32px;
    align-items: center;
}

.navbar-icons a{
    width:32px;
    height: 32px;
}
/* /Navigation **/


/** Main section**/
.main-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 344px;
}

.main-section-list{
    width: 217px;
    height: 370px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid gray;
    padding-right: 25px;
    margin-left:90px;
    margin-top: 25px;
}

.list-box{
    padding-top: 18px;
}

.main-section-list li{
    width: 200px;
    height: 24px;
    display: flex;
    gap: 51px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
}

.main-section-banner{
    width:900px;
    height: 344px;
    background-color: #000000;
    color: #F5F5F5;
    display: flex;
    margin-right: 70px;
    margin-top: 50px;
}

.main-section-banner-first p{
    width: 190px;
    height: 49px;
    padding-top:55px;
    padding-left: 64px;
    display: flex;
    gap: 24px;
}

.main-section-banner-first h1{
    width: 294px;
    height: 120px; 
    padding-left: 64px;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 4%;
}

.main-section-banner-first a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#FAFAFA;
    padding-left:64px;
}
/** /Main section**/


/** Today's **/
.today-header{
    height: 103px;
    display: flex;
    gap: 47px;
    margin-top: 30px;
}
 
.timer{
    display: flex;
    width: 302px;
    height: 50px;
    justify-content: space-between;
}

.time{
    display: flex;
    width: 46px;
    height: 50px;
    gap: 4px;
    flex-direction: column;
}

.time p{
    width: 31px;
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.time h1{
    width: 46px;
    height: 28px;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;
}

.today-main{
    width: 1308px;
    height: 350px;
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}

.product-card{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 350px;
    gap: 16px;
}

.product-image{
    width: 270px;
    height: 250px;
    border-radius: 4px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.product-information{
    width: 270px;
    height: 84px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-information h1{
    height: 24px;
    width: 210px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.product-image img{
    width:172px;
    height:152px;
    margin-left: 40px;
    margin-bottom: 60px;
}

.chegirma{
    width: 55px;
    height: 26px;
    margin: 12px;
    border-radius: 4px;
    padding: 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #DB4444;
    color: #FAFAFA;
}

.product-image-header{
    display: flex;
    justify-content: space-between;
}

.product-img-icons{
    display: flex;
    flex-direction: column;
    width: 34px;
    height: 76px;
    margin-top: 12px;
    margin-right:12px;
    gap: 8px;
}

.product-img-icons i{
    width:16px;
    height:14px;
    background-color:#FAFAFA;
    padding: 10px;
    border-radius: 50%;
}

.prices{
    width: 85px;
    height: 24px;
    display: flex;
    gap: 12px;
}

.number-star p{
    color: gray;
}
 
.new{
    color: #DB4444;
    width: 36px;
    height: 24px;
}

.old{
    color: #000000;
    opacity: 50%;
    text-decoration:line-through;
}

.five-star{
    color:#FFAD33;
    width: 100px;
    height: 20px;
}

.number-star{
    width: 140px;
    height: 20px;
    display: flex;
    gap:8px;
}
/** /Today's **/


/** Categories **/
.categories-header{
    width: 1170px;
    height: 108px;
    display: flex;
    gap: 691px;
    margin-top: 30px;
    justify-content: space-between;
}

.categories-main{
    width: 1170px;
    height: 145px;
    display: flex;
    justify-content: space-between
}

.browse-box{
    width: 170px;
    height: 145px;
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.browse-box:hover{
    background-color: #DB4444;
    color: #FAFAFA;
}

.browse-box i{
    margin-top: 20px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browse-box p{
    width:170px;
    height: 24px;
    margin: 10px ;
    text-align: center;
}
/** /Categories **/


/** This month **/
.this-month-header{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.smaller{
    width: 159px;
}

.smaller h1{
    width: 63px;
}

.this-month-main{
    width: 1170px;
    height: 350px;
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
/** /This month **/


/** Categories image**/
.categories-image-container{
    width: 1170px;
    height: 500px;
    background-color: #000000;
    color: #FAFAFA;
    display: flex;
}

.categories-image-image{
    width: 568px;
    height: 330px;
    margin-top: 70px;
    margin-left: 40px;
}

.categories-image-information p{
    width: 90px;
    height: 20px;
    margin-top: 69px;
    margin-left: 56px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color:#00FF66 ;
}

.categories-image-information h1{
    width: 443px;
    height: 120px;
    margin-left: 56px;
    margin-top: 35px;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 4%;
}

.time-circles{
    width: 320px;
    height: 62px;
    margin-left: 56px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.time-circle {
    width: 62px;
    height: 62px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-circle h3{
    width: 19px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.time-circle h4{
    width: 32px;
    height: 18px;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #000000;
    text-align: center;
}

.green-button{
    width: 171px;
    height: 56px;
    margin-left: 56px;
    margin-top: 40px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: #00FF66;
}

.green-button a{
    width: 75px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: none;
}
/** /Categories image **/


/** /Our Product **/
.our-products-header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.green-new{
    background-color: #00FF66;
    width: 51px;
    height: 26px;
    color: #FAFAFA;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-products-main{
    display: flex;
    width: 1170px;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 55px;
}
/** /Our Product **/


/** /Featured **/
.feature-header{
    margin-top: 30px;
    margin-bottom: 50px;
}

.new-arrival-image{
    width: 570px;
    height: 600px;
    border-radius: 4px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.featured-png{
    width: 511px;
    height: 511px;
    margin-top: 89px;
    margin-left: 29px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../assets/images/ps5-slim-goedkope-playstation_large\ 1.png);
}

.arrival-information{
    display: flex;
    flex-direction: column;
    width: 242px;
    height: 122px;
    margin-left: 16px;
}

.arrival-information h1{
    width: 162px;
    height: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FAFAFA;
}

.arrival-information p{
    width: 242px;
    height: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
}

.arrival-information a{
    width: 81px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}

.feature-main{
    display: grid;
    grid-template-columns: 2fr 1fr ;
     
}

.new-arrival-image2{
    width: 570px;
    height: 600px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: space-between;
}

.new-arrival-image1{
    width: 570px;
    height: 600px;
    display: flex;
    gap: 32px;
}

.arrival-top-img{
    width: 570px;
    height: 260px;
    border-radius: 4px;
}

.arrival-bottom-imgs{
    display: flex;
    justify-content: space-between;
}

.featured-png1{
    width: 570px;
    height: 600px;
    border-radius: 4px;
    background-color: #000000;
}

.featured-png2{
    width: 570px;
    height: 248px;
    border-radius: 4px;
    background-color: #000000;
}

.featured-png3, .featured-png4{
    width: 270px;
    height: 284px;
    border-radius: 4px;
    background-color: #000000;
}
/** Featured **/


/** Servises **/
 .servis-circles{
    margin: 170px auto;
    display: flex;
    justify-content: space-between;
    width: 944px;
    height: 161px;
}

.servis-circle{
    align-items: center;
    width: 280px;
    height: 161px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.servis-circle h1{
    font-size: 20px;
    font-weight:600;
}
/** /Servises **/


/** Footer Bottom **/
footer{
    width:100%;
    height: 400px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    width: 1170px;
    color: #FAFAFA;
    justify-content: space-between;
    display: flex;
    gap: 16px;
     
}

.footer-exclusive{
    width: 217px;
    height: 188px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-exclusive-top{
    width: 206px;
    height: 124px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.footer-input{
    display: flex;
    flex-direction: row;
    width: 217px;
    height: 48px;
    border-radius: 4px;
    border: 1.5px solid #FAFAFA;
    padding:12px 0 12px 16px;
    gap: 32px;
}

.search-input{
    width: 130px;
    height: 24px;
    color: #FAFAFA;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    background-color: #000000;
}

.send{
    width: 20px;
    height: 18px;
    position: relative;
    top: 3px;
    left: 2px;
    border: 2px solid #000000
}

.footer-exclusive-top h1{
    width: 118px;
    height: 24px;
    font-weight: 700; 
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}

.footer-exclusive-top h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.footer-exclusive-top p{
    width: 206px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footer-support{
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 180px;
    gap: 24px;
}

.footer-support h1{
    width: 81px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.footer-support p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.footer-accaunt{
    display: flex;
    flex-direction: column;
    width: 123px;
    height: 236px;
    gap: 24px;
}

.footer-accaunt h1{
    width: 85px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.footer-accaunt p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.footer-quick-link{
    display: flex;
    flex-direction: column;
    width: 109px;
    height: 196px;
    gap: 24px;
}

.footer-quick-link h1{
    width: 500px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.footer-download{
    display: flex;
    flex-direction: column;
    width: 198px;
    height: 162px;
    gap: 24px;
}

.footer-download h1{
    width: 148px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.footer-download p{
    width: 194px;
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.footer-download-imgs{
    width: 198px;
    height: 84px;
    display: flex;
    gap: 8px;
}

.qr-code{
    width: 80px;
    height: 80px;
}

.google-app{
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 84px;
    gap: 4px;
}

.google-play{
    width: 104px;
    height: 30px;
    border-radius: 4px solid #FAFAFA;
}

.appstore{
    width: 104px;
    height: 34px;
    border-radius: 4px solid #FAFAFA;
}

.social-icons{
    width: 168px;
    height: 24px;
    display: flex;
    gap: 24px;
}

.footer-bottom {
    width: 100%;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #000000;
    border-top: 2px solid rgb(55, 54, 54);
}

.footer-bottom p{
    width: 337px;
    height: 24px;
    display: flex;
    gap: 12px;
    opacity: 30%;
    color: #FAFAFA;
}
/** /Footer Bottom **/


/** SIGN UP **/
.signup-main{
    display: flex;
    margin: 100px auto;
}

.signup-login-image-qismi{
    width: 805px;
    height: 781px;
    border-radius: 4px;
    background-color:#CBE4E8;
}

.signup-create-account{
    width: 371px;
    height: 530px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-left: 175px;
    margin-top: 100px;
}

.creat-accaunt-header{
    width: 339px;
    height: 78px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.creat-accaunt-header h1{
    width: 339px;
    height: 30px;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 4%;
}

.creat-accaunt-header p{
    width: 191px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.creat-accaunt-main{
    display: flex;
    flex-direction: column;
    width: 371px;
    justify-content: space-between;
    gap: 40px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 176px;
    gap: 40px;
    justify-content: space-between;
}

.inputs input{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 32px;
    gap: 8px;
    border-bottom:1px solid gray;
    background-color: #FFFFFF;
}

.signup-btn{
    width: 371px;
}

.google-button{
    width:371px;
    height: 56px;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
}

.google-button a{
    width:199px;
    height: 24px;
    display: flex;
    text-decoration: none;
    color: #000000;
}

.google-button a p{
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.accaunt-bottom{
    width: 248px;
    height: 28px;
    display: flex;
    gap: 16px;
    margin: 0px auto;
}

.accaunt-bottom p{
    width: 185px;
    height: 24px;
    opacity: 70%;
    color: #000000;
}

.accaunt-bottom a{
    width: 47px;
    height: 24px;
    opacity: 90%;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}
/** /SIGN UP **/


/** LOG IN **/
.login-login{
    width: 371px;
    height: 326px;
    display: flex;
    flex-direction: column;
    margin:180px auto ;
}

.inputs-login{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 104px;
    gap: 40px;
    justify-content: space-between;
    margin-top: 50px;
}

.inputs-login input{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 32px;
    gap: 8px;
    border-bottom:1px solid gray;
    background-color: #FFFFFF;
}

.login-btn{
    width: 143px;
}

.login-btn h1{
    width: 47px;
}

.login-bottom{
    display: flex;
    width: 371px;
    height: 56px;
    gap: 87px;
    margin-top: 50px;
}

.login-bottom p{
    width: 141px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DB4444;
    margin-top: 17px;
}
/** /LOG IN **/


/** PRODUCT MAIN **/
.product-page-picture{
    display: flex;
}

.picture-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.picture-left-small{
    width: 170px;
    height: 138px;
    background-color: #F5F5F5;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small{
    width: 121px;
    height: 114px;
}

.picture-right{
    width: 500px;
    height: 600px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.big{
    width: 446px;
    height: 315px;
}

.bread-crumb{
    width: 353px;
    height: 21px;
    display: flex;
    gap: 12px;
    color: gray;
}

.here{
    width: 177px;
    color: #000000;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.bread-crumb a{
    width: 59px;
    height: 21px;
    opacity: 50%;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}

.related{
    margin-bottom: 150px;
}

.red-heading{
    margin-bottom: 70px;
}

.product-page-details{
    display: flex;
    justify-content: space-between;
    width: 1300px;
}

.product-page-info-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid #000000;
    padding-bottom:20px ;
}

.product-page-info-header h1{
    width: 304px;
    height: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}

.header-bottom{
    width: 290px;
    height: 21px;
    display: flex;
}

.review{
    width: 95px;
    height: 21px;
    opacity: 50%;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.stock{
    width: 55px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #00FF66;
}

.price{
    width: 97px;
    height: 24px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}

.text{
    width: 373px;
    height: 63px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.product-page-info-footer{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 25px;
}

.colors{
    width: 155px;
    height: 20px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.colors h3{
    width: 83px;
    height: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3%;
}

.product-color{
    width: 48px;
    height: 20px;
    display: flex;
    gap: 8px;
}

.blue{
    width: 20px;
    height: 20px;
    background-color: #A0BCE0;
    border-radius: 50%;
}

.red{
    width: 20px;
    height: 20px;
    background-color: #E07575;
    border-radius: 50%;
}

.sizes{
    width: 296px;
    height: 32px;
    display: flex;
    gap: 24px;
}

.sizes h3{
    width: 48px;
    height: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3%;
}

.product-size{
    width: 224px;
    height: 32px;
    display: flex;
    gap: 16px;
}

.size{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size:hover{
    background-color: #DB4444;
    color: #FAFAFA;
    border: 0;
}

.size p{
    width: 18px;
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.delivery{
    display: flex;
    width: 332px;
    height: 50px;
    gap: 16px;
}

.deliveries{
    width: 399px;
    height: 180px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
}

.border-bottom{
    width: 399px;
    height: 1px;
    background-color: #000000;
}

.left{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    display: flex;
    flex-direction: column;
    width: 276px;
    height: 50px;
    gap: 8px;
}

.right h4{
    width: 203px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.right p{
    width: 276px;
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-decoration: underline;
}

.product-main{
    display: flex;
    width: 1170;
    height: 350px;
    gap: 30px;
    justify-content: space-between;
}
/** PRODUCT MAIN **/


/** CHECK OUT **/
.billing{
    width: 252px;
    height: 30px;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 4%;
}

.checkout-informatsiya{
    width: 470px;
    height: 814px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-top: 60px;
}

.checkout-informatsiya label{
    width: 250px;
    height: 24px;
    opacity: 40%;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.input-container{
    width: 470px;
    height: 50px;
    border-radius: 4px;
    background-color: #F5F5F5;
}

.checkout-informatsiya-bottom{
    width: 451px;
    height: 24px;
    display: flex;
    gap: 16px;
    align-items: center; 
}

.ptichka{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #DB4444;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-out-main-container{
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

.rasm-prizes{
    display: flex;
    flex-direction: column;
    width: 425px;
    height: 140px;
    gap: 32px;
    margin-bottom: 50px;
}

.rasm-prize{
    width: 425px;
    height: 54px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.rasm-prize img{
    width: 54px;
    height: 54px;
}

.rasm-prize h4{
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.narxlar{
    width: 422px;
    height: 136px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: space-between;
}

.narx{
    display: flex;
    width: 422px;
    height: 40px;
    gap: 16px;
    justify-content: space-between;
}

.bottm-line{
    border-bottom: 1px solid gray;
}

.narx h4{
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.about-bank{
    display: flex;
    margin-bottom: 50px;
}

.coupon{
    width: 527px;
    height: 56px;
    display: flex;
    gap: 16px;
}

.coupon-code{
    width: 300px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply-coupon{
    width: 211px;
    height: 56px;
    border-radius: 4px;
    background-color: #DB4444;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply-coupon p{
    width: 400px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 50px;
}

.border-top{
    margin-top: 30px;
}
/** /CHECK OUT **/


/** WISHLIST **/
.wishlist-header1{
    margin-bottom: 100px;
}

.wishlist-header1-header{
    width: 1170px;
    height: 56px;
    display: flex;
    gap: 835px;
}

.wishlist4 h1{
    width: 112px;
    height: 26px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.move-all-to-bag{
    width: 223px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid #000000;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-all-to-bag h1{
    width: 127px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}
/** /WISHLIST **/


/** CONTACT **/
.contact-call-write{
    width: 340px;
    height: 457px;
    border-radius: 4px;
    box-shadow: 1px 0px 10px #989797;
}

.contact-sent-massage{
    width: 800px;
    height: 457px;
    border-radius: 4px;
    box-shadow: 1px 0px 10px #989797;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-container{
    display: flex;
    justify-content: space-around;
}

.bi-telephone, .bi-envelope{
    background-color: #DB4444;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 10px;
}

.call{
    display: flex;
    width: 135px;
    height: 40px;
    gap: 16px;
}

.call h1{
    width: 79px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.call-to-us{
    display: flex;
    flex-direction: column;
    width: 262px;
    height: 122px;
    gap: 24px;
    margin: 40px;
    border-bottom: 2px solid rgb(139, 131, 131);
    padding-bottom: 40px;
}

.call-info{
    display: flex;
    flex-direction: column;
    width: 262px;
    height: 58px;
    gap: 16px;
}

.call-info p, .write-info p{
    width: 262px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.write-to-us{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 180px;
    gap: 24px;
    margin: 40px;
}

.write{
    width: 147px;
    height: 40px;
    display: flex;
    gap: 16px;
}

.write h1{
    width: 91px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.write-info{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 116px;
    gap: 16px;
}

.name-email-phone{
    width: 737px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 30px;
}

.contact-inp{
    width: 235px;
    height: 50px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.contact-sent-massage input{
    width: 101px;
    height: 24px;
    opacity: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
}

.your-massage{
    width: 737px;
    height: 207px;
    border-radius: 4px;
    background-color: #F5F5F5;
     margin: 30px;
}

.left-sent-massage{
    display: flex;
    justify-content: end;
    margin: 30px;
}
/** /CONTACT **/


/** CART **/
.cart-schedule{
    display: flex;
    flex-direction: column;
    height: 356px;
    gap: 40px;
}

.cart-headings{
    height: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 1px 0px 7px #a5a0a0;
    padding: 25px 40px;
}

.cart-schedule h1{
    width: 100px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.cart-prizes{
    height: 102px;
    border-radius: 4px;
    box-shadow: 1px 0px 7px #a5a0a0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-prizes img{
    width: 54px;
    height: 54px;
}

.monitor{
    display: flex;
    width: 170px;
    justify-content: space-between;
    align-items: center;
}

.return-udate-buttons{
    height: 56px;
    display: flex;
    justify-content: space-between;
    gap: 757px;
    margin-top: 30px;
}

.return-udate-buttons h1{
    width: 140px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.return-to-shop{
    width: 218px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-cart{
    width: 195px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-total{
    width: 470px;
    height: 324px;
    border-radius: 4px;
    border: 1.5px solid gray;
}

.cart-total h1{
    width: 100px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 32px;
    margin-left: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.cartnarx{
    margin-left: 24px;
}

.cart-bottom{
    height: 324px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: start;
}

.end{
    margin-left: 120px;
}

.cart-apply{
    width: 211px;
}

.cart-apply h1{
    width: 115px;
}

.total-btn{
    width: 260px;
    display: flex;
    align-items: center;
}

.total-btn h1{
    width: 180px;
}
 
/** /CART **/


/** 404 **/
.not-found-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.found-main{
    display: flex;
    flex-direction: column;
    width: 829px;
    height: 179px;
    gap: 40px;
    margin-bottom: 50px;
}

.found-main h1{
    width: 829px;
    height: 115px;
    font-weight: 500;
    font-size: 110px;
    line-height: 115px;
    letter-spacing: 3%;
    text-align: center;
} 

.found-main p{
    width: 829px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
/** /404 **/


/** ACCOUNT **/
.account-main{
    display: flex;
    justify-content: space-between;
}

.account-header{
    display: flex;
    justify-content: space-between;
}

.welcome{
    display: flex;
}

.welcome h1{
    width: 70px;
    height: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.red-text{
    color:#DB4444;
    width: 80px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.account-main h1{
    width: 166px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.account-info h3{
    width: 165px;
    height: 24px;
    color: #000000;
    opacity: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.account-manage, .account-order{
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 88px;
    gap: 8px;
    margin: 20px;
}

.account-order{
    width: 138px;
    height:56px;
}

.contact-edit{
    width: 870px;
    height: 630px;
    border-radius: 4px;
    box-shadow: 1px 0px 10px #989797;
}

.edit{
    width: 155px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-top: 40px;
    margin-left: 80px;
}

.first-last-name, .email-address{
    width: 710px;
    height: 82px;
    display: flex;
    gap: 50px;
    margin-left: 80px;
    margin-top: 20px;
}

.first-last-email-add{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 82px;
    gap: 8px;
}

.contact-edit input{
    width: 330px;
    height: 50px;
    border-radius: 4px;
    background-color: #F5F5F5;
    padding-left: 10px;
}

.password-changes{
    display: flex;
    flex-direction: column;
    width: 710px;
    height: 214px;
    margin-top: 20px;
    margin-left: 80px;
    gap: 16px;
}

.password-changes input{
    width: 710px;
}

.account-buttons{
    width: 303px;
    height: 56px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.account-buttons-conteiner{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 80px;
}
/** /ACCOUNT **/




