body{
    margin: 0px;
}

/** Header Top **/
.header-top-container{
    background-color:#000000;
    width:1440px;
    height:48px;
    position: relative;
     
}
.header-top{
    width:859px;
    height:24px;
    top: 12px;
    left: 445px;
    display: flex;
    gap: 231;
    
}
.header-top-heading{
    width: 550px;
    height: 24px;
    display: flex;
    gap: 8px;
     
     
}
.header-top-language{
    width: 78px;
    height: 24px;
    display: flex;
    gap: 5px;
}
.header-top-heading a{
    width: 68px;
    height: 24px;
    font-family: Poppins;
    font-weight: 600;
    font-style:SemiBold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color:  #FAFAFA;
}
.header-top-heading p{
    width: 474px;
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
    font-family: Poppins;
     
     
}
.header-top-language{
    width: 78px;
    height: 24px;
     
}
.header-top-language option{
    width: 49px;
    height: 21px;
    font-weight: 400;
    line-height: 21px;
    color: #FAFAFA;
    border: 0px;
    background-color: #000000;
}

/** /Header Top **/