* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/** Header Top **/
.header-top-line{
    width:100%;
    height: 48px;
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    color: #FAFAFA;
    align-items: center;
}
.select-lang{
    background-color: #000000;
    color: #FAFAFA;
    border: 0;
}
.shopnow{
    font-weight: 600;
    color: #FAFAFA;
}
/** /Header Top **/

/* Navigation **/
.navbar{
    width: 100%;
    margin-top: 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
}
.header-navigation{
    width: 1170px;
    height:38px;
     
    display: flex;
    gap: 148px;
}
.header-nav-first-part{
    width: 675px;
    height: 24px;
    display: flex;
    gap: 190px;
}
.header-nav-first-part h1{
    width: 118px;
    height: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}
.header-nav-first-part nav{
    width: 367px;
    height: 24px;
    display: flex;
    gap: 48px;
}
.header-nav-first-part nav a{
    width: 48px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.header-search{
    width: 211px;
    height: 24px;
    display: flex;
    gap: 34px;
    color:#9d2929 ;
    
}
.header-search input{
    width: 153px;
    height: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #060606;
}
.header-search .search{
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-left: 4px;
    border: 1.5px;
    color: #000000;
}
.header-nav-second-part{
    width: 347px;
    height: 38px;
    gap: 24px;
    display: flex;
}
.header-search-icons{
    width: 80px;
    height: 32px;
    display: flex;
    gap: 16px;
}
.header-search-icons i{
    width: 20px;
    height: 17.83px;
    margin-top: 3px;
    margin-left: 6px;
     
}
/* /Navigation **/


/** Footer Bottom **/
footer{
    width:100%;
    height: 400px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    width: 1170px;
    color: #FAFAFA;
    justify-content: space-between;
    display: flex;
    gap: 16px;
     
}
.footer-exclusive{
    width: 217px;
    height: 188px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-exclusive-top{
    width: 206px;
    height: 124px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.footer-input{
    display: flex;
    flex-direction: row;
    width: 217px;
    height: 48px;
    border-radius: 4px;
    border: 1.5px solid #FAFAFA;
    padding:12px 0 12px 16px;
    gap: 32px;
}
.search-input{
    width: 130px;
    height: 24px;
    color: #FAFAFA;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    background-color: #000000;
}
.send{
    width: 20px;
    height: 18px;
    position: relative;
    top: 3px;
    left: 2px;
    border: 2px solid #000000
}
.footer-exclusive-top h1{
    width: 118px;
    height: 24px;
    font-weight: 700; 
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}
.footer-exclusive-top h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.footer-exclusive-top p{
    width: 206px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.footer-support{
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 180px;
    gap: 24px;
}
.footer-support h1{
    width: 81px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.footer-support p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.footer-accaunt{
    display: flex;
    flex-direction: column;
    width: 123px;
    height: 236px;
    gap: 24px;
}
.footer-accaunt h1{
    width: 85px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.footer-accaunt p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.footer-quick-link{
    display: flex;
    flex-direction: column;
    width: 109px;
    height: 196px;
    gap: 24px;
}
.footer-quick-link h1{
    width: 500px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.footer-download{
    display: flex;
    flex-direction: column;
    width: 198px;
    height: 162px;
    gap: 24px;
}
.footer-download h1{
    width: 148px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.footer-download p{
    width: 194px;
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.footer-download-imgs{
    width: 198px;
    height: 84px;
    display: flex;
    gap: 8px;
}
.qr-code{
    width: 80px;
    height: 80px;
}
.google-app{
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 84px;
    gap: 4px;
}
.google-play{
    width: 104px;
    height: 30px;
    border-radius: 4px solid #FAFAFA;
}
.appstore{
    width: 104px;
    height: 34px;
    border-radius: 4px solid #FAFAFA;
}
.social-icons{
    width: 168px;
    height: 24px;
    display: flex;
    gap: 24px;
}
.footer-bottom {
    width: 100%;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #000000;
    border-top: 2px solid rgb(55, 54, 54);
}
.footer-bottom p{
    width: 337px;
    height: 24px;
    display: flex;
    gap: 12px;
    opacity: 30%;
    color: #FAFAFA;
}
/** /Footer Bottom **/