 
 * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/** Header Top **/
.header-top-line{
     
    background-color: #000000;
    height: 48px;
    color: #FAFAFA;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.select-lang{
    background-color: #000000;
    color: #FAFAFA;
    border: 0;
}
.shopnow{
    font-weight: 600;
    color: #FAFAFA;
}
/** /Header Top **/

/** Footer Bottom **/
footer{
    background-color: #000000;
     color: #FAFAFA;
    
}
 
.footer-bottom{
     
     
    border-top: 2px solid rgb(79, 79, 79);
}
.footer-bottom p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    opacity: 60%;
}
/** /Footer Bottom **/