/** General **/
.container{
    width:100%;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.red-heading{
    display: flex;
    width: 100px;
    height: 40px;
    justify-content: space-between;
}

.red-icon{
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color:#DB4444 ;
}

.sections-header-first{
    width: 64px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #DB4444;
    margin-top:10px ;
}

.section-centr{
    width: 1170px;
    margin: 100px auto;
}

.section-center{
    width: 1308px;
    margin: 100px auto;
}

.line{
    width: 1170px;
    background-color: #a5a3a3;
    height:0.5px;
    margin: 50px  160px;
}

.arrow-r-l{
    width: 100px;
    height: 46px;
    gap: 8px;
}
.arrow-r-l i{
    width: 46px;
    height: 46px;
    padding: 11px;
    border-radius: 50%;
    background-color:#F5F5F5 ;
}

#to-up{
    display: flex;
    width: 100%;
    justify-content: end;
}
/** General **/
 

/** Header Top **/
.header-top-line{
    display: flex;
    justify-content: space-evenly;  
    height: 48px;
    align-items: center;
    color: #FAFAFA;
    background-color: #000000;
    padding-left: 250px;
}

.select-lang{
    border: none;
    background-color: #000000;
    font-size: 14px;
    cursor: pointer;
    color: #FAFAFA;
}

.shopnow{
    font-weight: 600;
    color: #FAFAFA;
}
/** /Header Top **/


/* Navigation **/
.heading-navbar{
    display: flex;
    justify-content:space-evenly; 
    height:96px;
    border-bottom: 0.5px solid gray;
    align-items: center;
     
}

.heading-navbar h1{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3%;
}

.navigation-menu{
    width: 367px;
    height: 24px;
    display: flex;
    gap: 48px;
}

.navigation-menu a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.navigation-menu a:hover{
    text-decoration: underline;
}

.search{
    width: 367px;
    height: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.input-container{
    background-color:#F5F5F5 ;
    display: flex;
    width: 210px;
    height: 38px;
    justify-content: space-evenly; 
    align-items: center;  
    border-radius: 5px;
    margin-right: 50px;
}

input{
    border: 0;
    background-color:#F5F5F5;
}

.input-container i{
    width: 24px;
    height: 24px;
}

.navbar-icons{
    width: 80px;
    display: flex;
    gap: 16px;
    height: 32px;
    align-items: center;
}

.navbar-icons i{
    width:32px;
    height: 32px;
}
/* /Navigation **/


/** Main section**/
.main-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 344px;
}

.main-section-list{
    width: 217px;
    height: 370px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid gray;
    padding-right: 25px;
    margin-left:90px;
    margin-top: 25px;
}

.list-box{
    padding-top: 18px;
}

.main-section-list li{
    width: 200px;
    height: 24px;
    display: flex;
    gap: 51px;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
}

.main-section-banner{
    width:900px;
    height: 344px;
    background-color: #000000;
    color: #F5F5F5;
    display: flex;
    margin-right: 70px;
    margin-top: 50px;
}

.main-section-banner-first p{
    width: 190px;
    height: 49px;
    padding-top:55px;
    padding-left: 64px;
    display: flex;
    gap: 24px;
}

.main-section-banner-first h1{
    width: 294px;
    height: 120px; 
    padding-left: 64px;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 4%;
}

.main-section-banner-first a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#FAFAFA;
    padding-left:64px;
}
/** /Main section**/


/** Today's **/
.today-header{
    height: 103px;
    display: flex;
    gap: 47px;
    margin-top: 30px;
}
 
.timer{
    display: flex;
}

.today-main{
    width: 1308px;
    height: 350px;
    display: flex;
    gap: 50px;
}

.product-card{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 350px;
    gap: 16px;
}

.product-image{
    width: 270px;
    height: 250px;
    border-radius: 4px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.product-information{
    width: 270px;
    height: 84px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-information h1{
    height: 24px;
    width: 210px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.product-image img{
    width:172px;
    height:152px;
    margin-left: 40px;
    margin-bottom: 60px;
}

.chegirma{
    width: 55px;
    height: 26px;
    margin: 12px;
    border-radius: 4px;
    padding: 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #DB4444;
    color: #FAFAFA;
}

.product-image-header{
    display: flex;
    justify-content: space-between;
}

.view-button{
    background-color: #DB4444;
    color: #F5F5F5;
    width: 234px;
    height:56px;
    margin-top: 50px;
    margin-left:500px;
    gap: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-button h1{
    width: 138px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
}

.product-img-icons{
    display: flex;
    flex-direction: column;
    width: 34px;
    height: 76px;
    margin-top: 12px;
    margin-right:12px;
    gap: 8px;
}

.product-img-icons i{
    width:16px;
    height:14px;
    background-color:#FAFAFA;
    padding: 10px;
    border-radius: 50%;
}

.prices{
    width: 85px;
    height: 24px;
    display: flex;
    gap: 12px;
}

.number-star p{
    color: gray;
}
 
.new{
    color: #DB4444;
    width: 36px;
    height: 24px;
}

.old{
    color: #000000;
    opacity: 50%;
    text-decoration:line-through;
}

.five-star{
    color:#FFAD33;
    width: 100px;
    height: 20px;
}

.number-star{
    width: 140px;
    height: 20px;
    display: flex;
    gap:8px;
}
/** /Today's **/


/** Categories **/
.categories-header{
    width: 1170px;
    height: 108px;
    display: flex;
    gap: 691px;
    margin-top: 30px;
    justify-content: space-between;
}

.categories-main{
    width: 1170px;
    height: 145px;
    display: flex;
    justify-content: space-between
}

.browse-box{
    width: 170px;
    height: 145px;
    border-radius: 4px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.browse-box:hover{
    background-color: #DB4444;
    color: #FAFAFA;
}

.browse-box i{
    margin-top: 20px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browse-box p{
    width:170px;
    height: 24px;
    margin: 10px ;
    text-align: center;
}
/** /Categories **/


/** This month **/
.this-month-header{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.view-button-small{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 8px 30px;
    background-color: #DB4444;
    color: #FAFAFA;
    display: flex;
    gap: 10px;
}

.view-button-small h1{
    height: 24px;
    font-weight: 500;
    font-size: 16px;
}

.this-month-main{
    width: 1170px;
    height: 350px;
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
/** /This month **/


/** Categories image**/
.categories-image-container{
    width: 1170px;
    height: 500px;
    background-color: #000000;
    color: #FAFAFA;
    display: flex;
}

.categories-image-image{
    width: 568px;
    height: 330px;
    margin-top: 70px;
    margin-left: 40px;
}

.categories-image-information p{
    width: 90px;
    height: 20px;
    margin-top: 69px;
    margin-left: 56px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color:#00FF66 ;
}

.categories-image-information h1{
    width: 443px;
    height: 120px;
    margin-left: 56px;
    margin-top: 35px;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 4%;
}

.time-circles{
    width: 320px;
    height: 62px;
    margin-left: 56px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.time-circle {
    width: 62px;
    height: 62px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-circle h3{
    width: 19px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.time-circle h4{
    width: 32px;
    height: 18px;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #000000;
    text-align: center;
}

.green-button{
    width: 171px;
    height: 56px;
    margin-left: 56px;
    margin-top: 40px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: #00FF66;
}

.green-button a{
    width: 75px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: none;
}
/** /Categories image **/


/** /Our Product **/
.our-products-header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.green-new{
    background-color: #00FF66;
    width: 51px;
    height: 26px;
    color: #FAFAFA;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-products-main{
    display: flex;
    width: 1170px;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 55px;
}
/** /Our Product **/


/** /Featured **/
.feature-header{
    margin-top: 30px;
    margin-bottom: 50px;
}

.new-arrival-image{
    width: 570px;
    height: 600px;
    border-radius: 4px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.featured-png{
    width: 511px;
    height: 511px;
    margin-top: 89px;
    margin-left: 29px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(../assets/images/ps5-slim-goedkope-playstation_large\ 1.png);
}

.arrival-information{
    display: flex;
    flex-direction: column;
    width: 242px;
    height: 122px;
    margin-left: 16px;
}

.arrival-information h1{
    width: 162px;
    height: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #FAFAFA;
}

.arrival-information p{
    width: 242px;
    height: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FAFAFA;
}

.arrival-information a{
    width: 81px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}
/** Featured **/


/** Servises **/
 .servis-circles{
    margin: 170px auto;
    display: flex;
    justify-content: space-between;
    width: 944px;
    height: 161px;
}

.servis-circle{
    align-items: center;
    width: 280px;
    height: 161px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.servis-circle h1{
    font-size: 20px;
    font-weight:600;
}
/** /Servises **/


/** Footer Bottom **/
footer{
    width:100%;
    height: 400px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    width: 1170px;
    color: #FAFAFA;
    justify-content: space-between;
    display: flex;
    gap: 16px;
     
}

.footer-exclusive{
    width: 217px;
    height: 188px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-exclusive-top{
    width: 206px;
    height: 124px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.footer-input{
    display: flex;
    flex-direction: row;
    width: 217px;
    height: 48px;
    border-radius: 4px;
    border: 1.5px solid #FAFAFA;
    padding:12px 0 12px 16px;
    gap: 32px;
}

.search-input{
    width: 130px;
    height: 24px;
    color: #FAFAFA;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    background-color: #000000;
}

.send{
    width: 20px;
    height: 18px;
    position: relative;
    top: 3px;
    left: 2px;
    border: 2px solid #000000
}

.footer-exclusive-top h1{
    width: 118px;
    height: 24px;
    font-weight: 700; 
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}

.footer-exclusive-top h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.footer-exclusive-top p{
    width: 206px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footer-support{
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 180px;
    gap: 24px;
}

.footer-support h1{
    width: 81px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.footer-support p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.footer-accaunt{
    display: flex;
    flex-direction: column;
    width: 123px;
    height: 236px;
    gap: 24px;
}

.footer-accaunt h1{
    width: 85px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.footer-accaunt p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.footer-quick-link{
    display: flex;
    flex-direction: column;
    width: 109px;
    height: 196px;
    gap: 24px;
}

.footer-quick-link h1{
    width: 500px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.footer-download{
    display: flex;
    flex-direction: column;
    width: 198px;
    height: 162px;
    gap: 24px;
}

.footer-download h1{
    width: 148px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.footer-download p{
    width: 194px;
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.footer-download-imgs{
    width: 198px;
    height: 84px;
    display: flex;
    gap: 8px;
}

.qr-code{
    width: 80px;
    height: 80px;
}

.google-app{
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 84px;
    gap: 4px;
}

.google-play{
    width: 104px;
    height: 30px;
    border-radius: 4px solid #FAFAFA;
}

.appstore{
    width: 104px;
    height: 34px;
    border-radius: 4px solid #FAFAFA;
}

.social-icons{
    width: 168px;
    height: 24px;
    display: flex;
    gap: 24px;
}

.footer-bottom {
    width: 100%;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #000000;
    border-top: 2px solid rgb(55, 54, 54);
}

.footer-bottom p{
    width: 337px;
    height: 24px;
    display: flex;
    gap: 12px;
    opacity: 30%;
    color: #FAFAFA;
}
/** /Footer Bottom **/


/** SIGN UP **/
.signup-main{
    display: flex;
    margin: 100px auto;
}

.signup-login-image-qismi{
    width: 805px;
    height: 781px;
    border-radius: 4px;
    background-color:#CBE4E8;
}

.signup-create-account{
    width: 371px;
    height: 530px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-left: 175px;
    margin-top: 100px;
}

.creat-accaunt-header{
    width: 339px;
    height: 78px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.creat-accaunt-header h1{
    width: 339px;
    height: 30px;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 4%;
}

.creat-accaunt-header p{
    width: 191px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.creat-accaunt-main{
    display: flex;
    flex-direction: column;
    width: 371px;
    height: 404px;
    gap: 40px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 176px;
    gap: 40px;
    justify-content: space-between;
}

.inputs input{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 32px;
    gap: 8px;
    border-bottom:1px solid gray;
    background-color: #FFFFFF;
}

.creat-accaunt-main button{
    width: 371px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 122px;
    display: flex;
    gap: 10px;
    background-color: #DB4444;
    color:  #FAFAFA ;
    border: 0px;
}

.google-button{
    width:125px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 122px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid #000000;
    align-items: center;
}

.google-button a{
    width:199px;
    height: 24px;
    display: flex;
    text-decoration: none;
    color: #000000;
}

.google-button a p{
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.accaunt-bottom{
    width: 248px;
    height: 28px;
    display: flex;
    gap: 16px;
    margin: 0px auto;
}

.accaunt-bottom p{
    width: 185px;
    height: 24px;
    opacity: 70%;
    color: #000000;
}

.accaunt-bottom a{
    width: 47px;
    height: 24px;
    opacity: 90%;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}
/** /SIGN UP **/


/** LOG IN **/
.login-login{
    width: 371px;
    height: 326px;
    display: flex;
    flex-direction: column;
    margin:180px auto ;
}

.inputs-login{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 104px;
    gap: 40px;
    justify-content: space-between;
    margin-top: 50px;
}

.inputs-login input{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 32px;
    gap: 8px;
    border-bottom:1px solid gray;
    background-color: #FFFFFF;
}

.login-bottom{
    display: flex;
    width: 371px;
    height: 56px;
    gap: 87px;
    margin-top: 35px;
}

.login-bottom button{
    width: 143px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 48px;
    display: flex;
    gap: 10px;
    background-color: #DB4444;
    color:  #FAFAFA ;
    border: 0px;
}

.login-bottom p{
    width: 141px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DB4444;
    margin-top: 17px;
}
/** /LOG IN **/


/** PRODUCT MAIN **/
.product-main{
    display: flex;
}
/** PRODUCT MAIN **/
