.container{
    width:100%;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/** Header Top **/
.header-top-line{
    display: flex;
    justify-content: space-evenly;  
    height: 48px;
    align-items: center;
    color: #FAFAFA;
    background-color: #000000;
    padding-left: 250px;
}

.select-lang{
    border: none;
    background-color: #000000;
    font-size: 14px;
    cursor: pointer;
    color: #FAFAFA;
}

.shopnow{
    font-weight: 600;
    color: #FAFAFA;
}
/** /Header Top **/


/* Navigation **/
.heading-navbar{
    display: flex;
    justify-content:space-around; 
    height:96px;
    border-bottom: 0.5px solid gray;
    align-items: center;
}

.heading-navbar h1{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3%;
}

.navigation-menu{
    width: 367px;
    height: 24px;
    display: flex;
    gap: 48px;
}

.navigation-menu a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.navigation-menu a:hover{
    text-decoration: underline;
}

.search{
    width: 367px;
    height: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.input-container{
    background-color:#F5F5F5 ;
    display: flex;
    width: 210px;
    height: 38px;
    justify-content: space-evenly; 
    align-items: center;  
    border-radius: 5px;
}

input{
    border: 0;
    background-color:#F5F5F5;
}

.input-container i{
    width: 24px;
    height: 24px;
}

.navbar-icons{
    width: 80px;
    display: flex;
    gap: 16px;
    height: 32px;
    align-items: center;
}

.navbar-icons i{
    width:32px;
    height: 32px;
}
 
/* /Navigation **/

/** Main section**/
.main-section{
    display: flex;
    justify-content: space-between;
}

.main-section-list{
    width: 217px;
    height: 344px;
    padding-top: 20px;
    margin-left: 110px;
    padding-bottom: 40px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border-right: 1px solid gray;
}

.main-section-list li{
    display: flex;
    gap: 51px;
    width: 200px;
    height: 24px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 15px;
}

.main-section-banner{
    width:892px;
    height: 344px;
    margin-top:40px;
    margin-right:180px;
    background-color: #000000;
    color: #F5F5F5;
    display: flex;
}
.main-section-banner-first p{
    width: 190px;
    height: 49px;
    padding-top:58px;
    padding-left: 64px;
    display: flex;
    gap: 24px;
}
.main-section-banner-first h1{
    width: 294px;
    height: 120; 
    padding-left: 64px;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 4%;
}
.main-section-banner-first a{
    width: 113px;
    height: 28px;
    
}
/** /Main section**/

/** Footer Bottom **/
footer{
    width:100%;
    height: 400px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    width: 1170px;
    color: #FAFAFA;
    justify-content: space-between;
    display: flex;
    gap: 16px;
     
}
.footer-exclusive{
    width: 217px;
    height: 188px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-exclusive-top{
    width: 206px;
    height: 124px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.footer-input{
    display: flex;
    flex-direction: row;
    width: 217px;
    height: 48px;
    border-radius: 4px;
    border: 1.5px solid #FAFAFA;
    padding:12px 0 12px 16px;
    gap: 32px;
}
.search-input{
    width: 130px;
    height: 24px;
    color: #FAFAFA;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    background-color: #000000;
}
.send{
    width: 20px;
    height: 18px;
    position: relative;
    top: 3px;
    left: 2px;
    border: 2px solid #000000
}
.footer-exclusive-top h1{
    width: 118px;
    height: 24px;
    font-weight: 700; 
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}
.footer-exclusive-top h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.footer-exclusive-top p{
    width: 206px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.footer-support{
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 180px;
    gap: 24px;
}
.footer-support h1{
    width: 81px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.footer-support p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.footer-accaunt{
    display: flex;
    flex-direction: column;
    width: 123px;
    height: 236px;
    gap: 24px;
}
.footer-accaunt h1{
    width: 85px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.footer-accaunt p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.footer-quick-link{
    display: flex;
    flex-direction: column;
    width: 109px;
    height: 196px;
    gap: 24px;
}
.footer-quick-link h1{
    width: 500px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.footer-download{
    display: flex;
    flex-direction: column;
    width: 198px;
    height: 162px;
    gap: 24px;
}
.footer-download h1{
    width: 148px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.footer-download p{
    width: 194px;
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.footer-download-imgs{
    width: 198px;
    height: 84px;
    display: flex;
    gap: 8px;
}
.qr-code{
    width: 80px;
    height: 80px;
}
.google-app{
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 84px;
    gap: 4px;
}
.google-play{
    width: 104px;
    height: 30px;
    border-radius: 4px solid #FAFAFA;
}
.appstore{
    width: 104px;
    height: 34px;
    border-radius: 4px solid #FAFAFA;
}
.social-icons{
    width: 168px;
    height: 24px;
    display: flex;
    gap: 24px;
}
.footer-bottom {
    width: 100%;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #000000;
    border-top: 2px solid rgb(55, 54, 54);
}
.footer-bottom p{
    width: 337px;
    height: 24px;
    display: flex;
    gap: 12px;
    opacity: 30%;
    color: #FAFAFA;
}
/** /Footer Bottom **/